footer {
    width: 100%;
    height: 100px;
    background-color: #161b22;
    margin-top: 50px;
    display: flex;
    float: left;
    justify-content: center;
}

.footer-container {
    width: 1150px;
    display: flex;
    align-items: center;
}

.footer-container div {
    width: 50%;
}

.footer-container h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#last-span {
    display: flex;
    justify-content: flex-end;
}

