@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body {
    height: 100%;
    margin: 0px;
    background-color: #0d1117;
    padding: 0px;
    font-family: 'Arvo', serif;
    color: white;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
a{
    height: 100%;
}
a:hover{
    text-decoration: none;
}

.main-container {
    width: 1150px;
    background-color: #161b22;
    height: auto;
    padding-bottom: 50px;
}

.flex-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

.flex-container h1 {
    font-weight: 700;
    font-size: 33px;
}

.flex-container h1:hover {
    text-decoration: none;
}

.text {
    line-height: 25px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 40px;
}

.img-div {
    width: 100%;
    margin-top: 40px;
}

#img {
    width: 100%;
}

.mobile-hamburguer-div {
    display: none;
}

@media screen and (max-width:1150px) {
    .main-container{
        width: 90%;
    }
    header{
        width: 90%;
    }
    .footer-container{
        width: 90%;
        margin-left: 5%;
    }
    
}
@media screen and (max-width:900px) {
    .flex-blog-container {
        flex-direction: column;
    }

    .ferra {
        display: none;
    }

    #button-div {
        display: none;
    }

    #imgs-links {
        display: none;
    }

    .mobile-hamburguer-div {
        display: block;
    }

}